ul {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  list-style-type: none;
  padding: 5px;
}
p{
  float:left;
  font-weight:bold;
  font-size: 20px;
}
.top{
  margin: 2px;
  height: 50px;
  text-align: center;
  box-shadow: 0 2px 3px 1px gray;
}
.addButton{
  background-color: #c2ef83; 
  border-radius: 7px; 
  width:90px; 
}
.input{
  text-align: center;
  width: 99%;
}
#inputDetail{
  width: 98%;
}
#Button{
  width:25px; 
  margin: 5px;
}

