.search {
  background-color:white; 
  width:90%; 
  padding:5px; 
  height:60px;
  text-align: center;
}
/* for cards */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 15px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
  .ribbon {
    position: absolute;
    width: 80%;
    height: auto;
    z-index: 1;
    overflow: hidden;
    text-align: right;
  }
  
  .prompt{
    width: 80%;
  }
  #imgForButton {
    width:25px; 
    margin: 5px;
  }
  #userImg{
    width:40%;
  }
  