.login{
  width: 30%;
  height: auto;
  float:center;
  margin-left: 35%;
  margin-right: 40%;
  margin-top: 10%;
  padding: 20px;
  border-style: solid;
  border-color: rgba(11, 173, 111, 0.726);
  border-width: 5px;
  resize: both;
}

p#username{
  resize: both;
  margin-left: 50px;
  text-align: left
}

p#password{
  resize: both;
  margin-left: 50px;
  text-align: left;
}

input#username{
  resize: both;
  text-align: left;
  padding: 3px;
}
input#password{
  resize: both;
  text-align: left;
  padding: 3px;
}
p#header{
  resize: both;
  font-weight: bold;
  margin-left: 50px;
  font-size: 20px; 
  font-weight: bold;
  color: rgba(11, 173, 111, 0.726);
}
button#login{
  resize: both;
  margin-left: 62%;
  border-radius: 10px;
  border-color: rgba(11, 173, 111, 0.726);
  border-style: double; 
}
  