<template>
  <div class= "AddContact">
      <div class= "top">  
        <ul> Contact 
        <button class="addButton"> Add </button>
      </ul>
      </div>
      <div class="input">
        <br>
        <p>Contact ID<span style="color:red;">*</span></p><br>
        <input id="inputDetail" v-model="Data.contactID" type="text" placeholder="Insert your contact ID" >
        
        <p>First Name<span style="color:red;">*</span></p><br>
        <input id="inputDetail" v-model="Data.firstName" type="text" placeholder="Insert your first name" >

        <p>Last Name<span style="color:red;">*</span></p><br>
        <input id="inputDetail" v-model="Data.lastName" type="text" placeholder="Insert your last name" >

        <p>Gender<span style="color:red;">*</span></p><br>
        <input id="inputDetail" v-model="Data.gender" type="text" placeholder="Insert your gender">
      
        <p>Mobile No<span style="color:red;">*</span></p><br>
        <input id="inputDetail" v-model="Data.mobile" type="text" placeholder="Insert your mobile no" >
      
        <p>Email</p><br>
        <input id="inputDetail" v-model="Data.email" type="text" placeholder="Insert your email">
      
        <p>Facebook</p><br>
        <input id="inputDetail" v-model="Data.facebook" type="text" placeholder="Insert your facebook" >
      
        <p>Image URL</p><br>
        <input id="inputDetail" v-model="Data.imageURL" type="text" placeholder="Insert your image URL" >

        <br><br>
       <div class="section">
         <button @click="addContact">
          <!-- <button @click="addContact()"> -->
            <img id="Button" src="../assets/save.png" alt="save" >
          </button> 
          <button >
            <a @click="$router.push('/Home')" >
            <!-- <a href="http://localhost:8081/#/Home"> -->
              <img id="Button" src="../assets/close.png" alt="edit" >
            </a>
          </button>
        </div>
      </div>
      <!-- <div>
        {{Data}} <br>
      </div> -->
  </div>
</template>

<script type="text/javascript" src="./js/AddContact.js">

</script>

<style>
@import './css/AddContact.css';
</style>