<template>
  <div class= "Home"> 

    <div class="search"><span> 
            <div class="ribbon">
            <input class="prompt" v-model="searchInput" type="text" placeholder="Search by Name" >
            <button @click="filteredUsers()"> Search </button>
              <!-- <input type="button" onclick="search()" value="Search" /> -->
              <input type="button" @click="$router.push('/addContact')" value="Add+" />
            <!-- <input type="button" onclick="location.href='http://localhost:8081/#/AddContact';" value="Add+" /> -->
            </div>
  </span></div>

    <div class="row" >
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="padding: 10px;" v-for="x in filteredUsers" v-bind:key="x.contactID">
                      <div class="card">
                        <div class="user">
                        <img id="userImg" :src="x.imageURL">
                          <!-- <h3>{{ x.imageURL }}</h3> -->
                          <h3> {{ x.firstName+"  "+x.lastName }} </h3>
                          <h5>Email: {{ x.email }} </h5>
                          <h5>Mobile: {{ x.mobile }} </h5>
                          <div class="section">
                            <button @click='edit(x.contactID)'>
                              <img id="imgForButton" src="../assets/edit.png" alt="edit" >
                            </button> 
                            <button @click='removeContact(x.contactID)'>
                              <img id="imgForButton" src="../assets/delete.png" alt="del">
                            </button>
                          </div>
                        </div>
                    </div>                   
            </div>
      </div>
  </div>
</template>

<script type="text/javascript" src="./js/Home.js">

</script>

<style>
@import './css/Home.css';
</style>


