<template>
  <!-- <div class= "Login">
      <h1> {{ msg }} </h1>
      <h1> Login Page </h1>
  </div> -->
  <div class='login'>
    <p id='header'> Login </p>
    <p id='username'> Username 
    <input id='username' type="text" placeholder="Username" v-model="inputUsername" required>
    </p>
    <br>
    <p id='password'> Password&nbsp;
    <input id='password' type="password" placeholder="Password" v-model="inputPassword" required>
    </p>
    <br>
    <div v-if="inputUsername == username && inputPassword == password">
        <button id='login' @click="$router.push('/Home')" > Login</button>

    <!-- <button id='login' onclick="location.href='http://localhost:8081/#/Home'"> Login</button> -->
    </div>
    <div v-else> 
    <button id='login' onclick="window.location.reload()"> Login</button>
    </div>
  </div>
</template>

<script type="text/javascript" src="./js/Login.js">

</script>

<style>
@import './css/Login.css';
</style>